.vibrate_receiver {
  animation-duration: 0.1s;
  animation-name: shakingAnimation;
  animation-iteration-count: infinite;
}

@keyframes shakingAnimation {
  0% {
    rotate: -1deg;
  }
  50% {
    rotate: 1deg;
  }
  100% {
    rotate: -1deg;
  }
}

.xl_text {
  opacity: 0;
  animation-duration: 1.5s;
  animation-name: flashingAnimation_xl;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes flashingAnimation_xl {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.lg_text {
  opacity: 0;
  animation-duration: 1.5s;
  animation-name: flashingAnimation_lg;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes flashingAnimation_lg {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.md_text{
  opacity: 0;
  animation-duration: 1.5s;
  animation-name: flashingAnimation_md;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes flashingAnimation_md {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sm_text {
  opacity: 0;
  animation-duration: 1.5s;
  animation-name: flashingAnimation_sm;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes flashingAnimation_sm {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}